.list {
  display: flex;
  gap: 35px;
}

.link {
  display: inline-block;
  padding: 20px 0;
  transition: color 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: #37cd19;
}

.active {
  color: green;
}
