.wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}

.content {
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
}

.icon {
  margin-right: 10px;
}

.butWrap {
  display: flex;
  flex-direction: column;
}
.btn {
  border-color: transparent;
  border-radius: 5px;
  background-color: #c4c9c3;
  font-size: 18px;
  font-weight: 700;
}
