.menu {
  display: flex;
  align-items: center;
  gap: 15px;
}

.btn {
  background-color: #29b749;
  border-color: transparent;
  width: 100px;
  height: 30px;
  font-size: 15px;
  border-radius: 30px;
}
