.menu {
  display: flex;
  align-items: center;
  gap: 15px;
}

.btn {
  background-color: #29b749;
  border-color: transparent;
  width: 100px;
  height: 30px;
  font-size: 15px;
  border-radius: 30px;
  transition: background-color 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: #37cd19;
}
